<ion-content>
  <ion-card>
    <img src="assets/imagenes/dc.jpg" alt="">
  <ion-card-header>
    <ion-card-title>
      login
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]='formulario'>
    <ion-item>
    <ion-label position="floating">email:</ion-label>
    <ion-input type="email" formControlName="email" > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">contraseña:</ion-label>
    <ion-input type="password" formControlName="password" > </ion-input>
  </ion-item>
  <div>
    <ion-label color="danger">{{mensajeError}}</ion-label>
  </div>
  <ion-button (click)="enviarDatos()">Enviar</ion-button>
</form>
  </ion-card-content>
</ion-card>
</ion-content>
