<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/razas"></ion-back-button>
    </ion-buttons>
    <ion-title>Información de raza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-text-center ion-padding ion-margin-top" *ngIf="mensajeError">
    <ion-label color="danger">{{mensajeError}}</ion-label>
  </div>
  <div class="ion-text-center ion-padding ion-margin-top" *ngIf="mostrarSpinner">
    <ion-spinner></ion-spinner>
  </div>  
  <ion-card class="info-carta" *ngIf="!mostrarSpinner">
    <ion-card-header color="cabecera">
      <ion-card-title>Información de la raza</ion-card-title>
    </ion-card-header>
    <ion-card-content>      
      <h3 style="margin-top:1em"><strong>Raza:</strong>{{raza?.raza_alias}}</h3>
      <h3 style="margin-top:1em"><strong>Especie:</strong>{{raza?.especie}}</h3>
      <h3 style="margin-top:1em"><strong>Descripción:</strong></h3>
      <p style="margin-top:1em">{{raza?.descripcion}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
