<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="editar-cuenta"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="ion-text-center ion-padding ion-margin-top" *ngIf="mensajeError">
    <ion-label color="danger">{{mensajeError}}</ion-label>
  </div>
  <div class="ion-text-center ion-padding ion-margin-top" *ngIf="mostrarSpinner">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card class="info-carta" *ngIf="!mostrarSpinner">
    <ion-card-header color="cabecera">
      <ion-card-title>Cambiar password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding ion-text-center">
        <ion-label color="danger"><strong>Importante:</strong>&nbsp;</ion-label>
        <span style="color:black">Al cambiar tu contraseña se cerrará tu sesión y tendrás que volver a ingresar.</span>        
      </div>
      <form [formGroup]="formulario">
        <ion-item>
          <ion-label position="floating">Nuevo password:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>          
        </ion-item>
        <div class="error" *ngIf="formulario.controls.password.errors?.required">
          Requerido
        </div>
        <div class="error" 
             *ngIf="formulario.controls.password.errors?.minlength">
          Debe tener al menos 5 caracteres
        </div>
        <ion-item>
          <ion-label position="floating">Confirmar nuevo password:</ion-label>
          <ion-input type="password" formControlName="confirmarPassword"></ion-input>          
        </ion-item>
        <div class="error" 
             *ngIf="formulario.controls.confirmarPassword.errors?.required">
             Requerido          
        </div>
        <div class="error" 
             *ngIf="formulario.controls.confirmarPassword.errors?.diferente">
             Los passwords no coinciden
        </div>
        <div class="mensaje-respuesta" *ngIf="datosGuardados">
          <ion-label color="success">El password ha sido actualizado</ion-label>
        </div>
        <div class="boton-guardar-contenedor">
          <ion-button (click)="guardarInfo()" 
                      [disabled]="formulario.invalid">Guardar</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
